[submodule "QMath3d"]
	path = QMath3d
	url = git@github.com:vpicaver/QMath3d.git
[submodule "survex"]
	path = survex
	url = git@github.com:Cavewhere/survex.git
[submodule "plotsauce"]
	path = plotsauce
        url = git@github.com:Cavewhere/plotsauce.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:Cavewhere/protobuf.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:Cavewhere/zlib.git
[submodule "squish"]
	path = squish
	url = git@github.com:Cavewhere/squish.git
[submodule "dewalls"]
	path = dewalls
	url = git@github.com:Cavewhere/dewalls
[submodule "lib-qt-qml-tricks"]
	path = lib-qt-qml-tricks
	url = git@github.com:Cavewhere/lib-qt-qml-tricks.git
[submodule "metacave"]
	path = metacave
	url = git@github.com:Cavewhere/metacave.git
[submodule "installer/windows/vcredist"]
	path = installer/windows/vcredist
	url = git@github.com:Cavewhere/vcredist.git
[submodule "installer/mac/create-dmg"]
	path = installer/mac/create-dmg
	url = git@github.com:Cavewhere/create-dmg.git
