[submodule "QMath3d"]
	path = QMath3d
        url = https://github.com/vpicaver/QMath3d.git
[submodule "survex"]
	path = survex
        url = https://github.com/Cavewhere/survex.git
[submodule "dewalls"]
	path = dewalls
        url = https://github.com/Cavewhere/dewalls
[submodule "installer/mac/create-dmg"]
	path = installer/mac/create-dmg
        url = https://github.com/Cavewhere/create-dmg.git
[submodule "asyncfuture"]
	path = asyncfuture
        url = https://github.com/vpicaver/asyncfuture.git
[submodule "cavewherelib/twbs-icons"]
	path = cavewherelib/twbs-icons
	url = https://github.com/twbs/icons.git
[submodule "qml-test-recorder"]
	path = qml-test-recorder
        url = https://github.com/vpicaver/qml-test-recorder.git
[submodule "MarkScope"]
	path = MarkScope
	url = https://github.com/vpicaver/MarkScope.git
[submodule "monad"]
	path = monad
	url = https://github.com/vpicaver/monad.git
[submodule "QuickQanava"]
	path = QuickQanava
	url = https://github.com/vpicaver/QuickQanava
[submodule "QQuickGit"]
	path = QQuickGit
	url = https://github.com/vpicaver/QQuickGit
[submodule "SignalSpyChecker"]
	path = SignalSpyChecker
	url = https://github.com/vpicaver/SignalSpyChecker
[submodule "qtkeychain"]
	path = qtkeychain
	url = git@github.com:frankosterfeld/qtkeychain.git
