[submodule "QMath3d"]
	path = QMath3d
        url = https://github.com/vpicaver/QMath3d.git
[submodule "survex"]
	path = survex
        url = https://github.com/Cavewhere/survex.git
[submodule "dewalls"]
	path = dewalls
        url = https://github.com/Cavewhere/dewalls
[submodule "installer/mac/create-dmg"]
	path = installer/mac/create-dmg
        url = https://github.com/Cavewhere/create-dmg.git
[submodule "qt-qml-models"]
	path = qt-qml-models
        url = https://github.com/Cavewhere/qt-qml-models.git
[submodule "asyncfuture"]
	path = asyncfuture
        url = https://github.com/vpicaver/asyncfuture.git
[submodule "cavewherelib/twbs-icons"]
	path = cavewherelib/twbs-icons
	url = git@github.com:twbs/icons.git
[submodule "qml-test-recorder"]
	path = qml-test-recorder
	url = git@github.com:vpicaver/qml-test-recorder.git
