name: Build on Windows

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Fetch the tags for the versions to work correctly

      - name: Install Ninja
        run: |
          choco install ninja

      - name: Verify Ninja Installation
        run: |
          where ninja

      - name: Install Inno Setup
        run: |
          choco install innosetup

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '6.10.1'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_64'
          modules: 'qtshadertools'

      - name: Install Locale::PO
        run: |
          cpan Locale::PO

      - name: Installing Conan
        run: |
          pipx install conan

      - name: Check Conan Version
        run: conan --version

      - name: Configure Conan Profile
        run: |
          conan profile detect --force

      # Append your tool_requires to ~/.conan2/profiles/default
      # This is a work around for wxwidgets https://github.com/conan-io/conan-center-index/issues/26878
      # This can be remove once conan is fixed
      - name: Add CMake tool requirement
        shell: pwsh
        run: |
          # grab your Conan home dir
          $base = & conan config home

          # build the path to profiles/default
          $profile = Join-Path $base 'profiles\default'

          # append a blank line, then your [tool_requires] block
          Add-Content -Path $profile -Value ''
          Add-Content -Path $profile -Value '[tool_requires]'
          Add-Content -Path $profile -Value '!cmake/*: cmake/[>=3 <4]'

      - name: Cache Conan Packages
        id: cache-conan
        uses: actions/cache@v4
        with:
          path: C:/Users/runneradmin/.conan2
          key: ${{ runner.os }}-conan-win3-${{ hashFiles('conanfile.*') }}
          restore-keys: |
            ${{ runner.os }}-conan-win3-

      - name: Install Dependencies with Conan
        run: |
          conan install . --build=missing --output-folder=build -s:h compiler.cppstd=20 -s:b compiler.cppstd=20 -s compiler.version=194 -c tools.cmake.cmaketoolchain:generator=Ninja

      - name: Verify Toolchain File
        run: |
          cat build/conan_toolchain.cmake

      # - name: List CMake Generators
      #   run: cmake --help

      - name: Configure the Project with CMake
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DWITH_PDF=OFF -DCMAKE_PREFIX_PATH="${{ github.workspace }}\Qt\6.8.1\msvc2022_64\lib" -DCMAKE_TOOLCHAIN_FILE="build/conan_toolchain.cmake" -S . -B build

      - name: Build the Project
        run: cmake --build build --parallel

      - name: Build Windows Installer
        run: cmake --build build --target windowsInstaller --parallel

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: cavewhere-windows-installer
          path: build/Cavewhere *.exe #Needs the space to grab the just the installer
